<div id="comments">
  <% commentable.comments.each do |comment| %>
    <div class="comment-item">
      <%= render comment %>
      <% if comment.user == current_user %>
        <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_polymorphic_path([commentable, comment]) %> |
        <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), polymorphic_path([commentable, comment]), method: :delete %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
