<div id="messages">
  <% commentable.messages.each do |message| %>
    <div class="message-item">
      <%= render message %>
      <% if message.user == current_user %>
      <%= link_to t('views.common.edit', name: Message.model_name.human.downcase), edit_message_path(message) %> |
      <%= button_to t('views.common.destroy', name: Message.model_name.human.downcase), message_path(message), method: :delete %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
