<h1><%= t('books.editing_book') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('books.move_to_detail'), @book %> |
  <%= link_to t('books.back_to_index'), books_path %>
</nav>
