<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Book.model_name.human), edit_book_path(@book) %> |
  <%= link_to t('views.common.back', name: Book.model_name.human), books_path %>

  <%= button_to t('views.common.destroy', name: Book.model_name.human), @book, method: :delete %>
</nav>
