<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>
  <p>
    <strong>user:</strong>
    <%= report.user.name %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

</div>
